Repository opentelekomcloud-docs/object-storage-service: changes, and which Zuul jobs are due for each by the changed paths.
All: build-otc-obs-s3api, build-otc-obs-tool-guide

build-otc-obs-s3api:
  parent: otc-tox-docs
  description: Build s3api document using tox
  vars:
    tox_envlist: s3api

build-otc-obs-tool-guide:
  parent: otc-tox-docs
  description: Build tool-guide document using tox
  vars:
    tox_envlist: tool-guide

add _static placeholders
  doc/s3cmd/source/_static/.placeholder
  doc/tool/source/_static/.placeholder
Due: build-otc-obs-tool-guide

add tool index
  doc/tool/source/index.rst
Due: build-otc-obs-tool-guide

Update zuul.yaml file (#33)
  doc/s3cmd/source/_static/.placeholder
  doc/tool/source/_static/.placeholder
  doc/tool/source/index.rst
  zuul.yaml
Due: build-otc-obs-tool-guide

Update content
  api-ref/source/conf.py
Due: none

Update content
  umn/source/obs_browser_operation_guide/troubleshooting/an_error_occurs_during_the_start-up_of_obs_browser_indicating_that_the_task_management_function_cannot_work_properly_due_to_unavailability_of_the_database.rst
  umn/source/obs_browser_operation_guide/troubleshooting/index.rst
Due: none

Update tox.ini && conf.py file
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-obs-tool-guide

adding tox.ini and conf.py for swift api
  doc/swiftapi/source/conf.py
  tox.ini
Due: none

Synchronize Tool Guide (OBS Browser)
  doc/tool/source/downloading_obs_browser.rst
  doc/tool/source/faqs/can_i_install_two_obs_browser_tools_from_different_sites_in_one_system.rst
  doc/tool/source/faqs/can_i_query_the_number_and_size_of_files_in_a_folder_on_obs_browser.rst
  doc/tool/source/faqs/does_obs_browser_support_the_migration_of_account_and_task_information_from_obs_browser.rst
  doc/tool/source/faqs/index.rst
  doc/tool/source/faqs/what_are_the_differences_between_obs_browser_and_obs_browser.rst
  doc/tool/source/index.rst
  doc/tool/source/installing_obs_browser.rst
  doc/tool/source/logging_in_to_obs_browser.rst
  doc/tool/source/obs_browser_function_overview.rst
  doc/tool/source/uninstalling_obs_browser.rst
Due: build-otc-obs-tool-guide

Synchronize Tool Guide (OBS Browser) (#40)
  doc/tool/source/downloading_obs_browser.rst
  doc/tool/source/faqs/can_i_install_two_obs_browser_tools_from_different_sites_in_one_system.rst
  doc/tool/source/faqs/can_i_query_the_number_and_size_of_files_in_a_folder_on_obs_browser.rst
  doc/tool/source/faqs/does_obs_browser_support_the_migration_of_account_and_task_information_from_obs_browser.rst
  doc/tool/source/faqs/index.rst
  doc/tool/source/faqs/what_are_the_differences_between_obs_browser_and_obs_browser.rst
  doc/tool/source/index.rst
  doc/tool/source/installing_obs_browser.rst
  doc/tool/source/logging_in_to_obs_browser.rst
  doc/tool/source/obs_browser_function_overview.rst
  doc/tool/source/uninstalling_obs_browser.rst
Due: build-otc-obs-tool-guide

Update content
  doc/s3api/source/change_history.rst
  doc/s3api/source/operations_on_buckets/get_bucket_v2_list_objects_v2.rst
  doc/s3api/source/operations_on_buckets/head_bucket.rst
  doc/s3api/source/operations_on_buckets/index.rst
  doc/s3api/source/operations_on_buckets/put_bucket.rst
Due: build-otc-obs-s3api

Update content
  doc/pfs/source/_static/.placeholder
  doc/pfs/source/change_history.rst
  doc/pfs/source/conf.py
  doc/pfs/source/docutils.conf
  doc/pfs/source/index.rst
  doc/pfs/source/introduction/about_parallel_file_system.rst
  doc/pfs/source/introduction/application_scenarios.rst
  doc/pfs/source/introduction/constraints.rst
  doc/pfs/source/introduction/index.rst
  doc/pfs/source/introduction/using_pfs.rst
  doc/pfs/source/managing_parallel_file_systems_by_apis/index.rst
  doc/pfs/source/managing_parallel_file_systems_by_apis/supported_apis.rst
  doc/pfs/source/managing_parallel_file_systems_on_obs_console/creating_a_parallel_file_system.rst
  doc/pfs/source/managing_parallel_file_systems_on_obs_console/index.rst
  tox.ini
Due: none

Update content
  doc/parallel-file-system/source/_static/.placeholder
  doc/parallel-file-system/source/change_history.rst
  doc/parallel-file-system/source/conf.py
  doc/parallel-file-system/source/docutils.conf
  doc/parallel-file-system/source/index.rst
  doc/parallel-file-system/source/introduction/about_parallel_file_system.rst
  doc/parallel-file-system/source/introduction/application_scenarios.rst
  doc/parallel-file-system/source/introduction/constraints.rst
  doc/parallel-file-system/source/introduction/index.rst
  doc/parallel-file-system/source/introduction/using_pfs.rst
  doc/parallel-file-system/source/managing_parallel_file_systems_by_apis/index.rst
  doc/parallel-file-system/source/managing_parallel_file_systems_by_apis/supported_apis.rst
  doc/parallel-file-system/source/managing_parallel_file_systems_on_obs_console/creating_a_parallel_file_system.rst
  doc/parallel-file-system/source/managing_parallel_file_systems_on_obs_console/index.rst
  doc/permissions-configuration-guide/source/_static/.placeholder
  doc/permissions-configuration-guide/source/conf.py
  doc/permissions-configuration-guide/source/index.rst
  tox.ini
Due: none

Update tox.ini && conf.py file
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/tool/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-obs-tool-guide

Update content
  doc/s3api/source/access_control/acl.rst
  doc/s3api/source/access_control/bucket_policy.rst
  doc/s3api/source/obs_rest_apis/authenticating_a_request/v4_common_request.rst
  doc/s3api/source/obs_rest_apis/request_responses.rst
  doc/s3api/source/obs_rest_apis/server-side_encryption/sse-kms.rst
  doc/s3api/source/operations_on_buckets/get_bucket_lifecycle.rst
  doc/s3api/source/operations_on_buckets/get_bucket_policy.rst
  doc/s3api/source/operations_on_buckets/get_bucket_tagging.rst
  doc/s3api/source/operations_on_buckets/put_bucket_policy.rst
  doc/s3api/source/operations_on_buckets/put_bucket_versioning.rst
  doc/s3api/source/operations_on_objects/post_object_restore.rst
Due: build-otc-obs-s3api

Update content
  doc/permissions-configuration-guide/source/docutils.conf
  doc/permissions-configuration-guide/source/index.rst
Due: none

Update tox.ini && conf.py file
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/tool/source/conf.py
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update tox.ini && conf.py file (#50)
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/tool/source/conf.py
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update index.rst
  doc/permissions-configuration-guide/source/index.rst
Due: none

Update content
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/requirements.txt
  doc/s3api/source/conf.py
  doc/source/_static/placeholder
  doc/source/conf.py
  doc/source/index.rst
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update tox.ini && conf.py file
  doc/source/conf.py
Due: none

Update tox.ini && conf.py file (#55)
  doc/source/conf.py
Due: none

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update tox.ini && conf.py file (#56)
  api-ref/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update content
  umn/source/_static/images/en-us_image_0136493204.png
  umn/source/change_history.rst
  umn/source/faqs/how_do_i_use_cross-region_replication/index.rst
  umn/source/faqs/how_do_i_use_cross-region_replication/what_are_the_application_scenarios_of_cross-region_replication.rst
  umn/source/faqs/how_do_i_use_cross-region_replication/why_objects_are_not_copied_to_the_destination_bucket_after_the_cross-region_replication_rule_has_been_created.rst
  umn/source/faqs/how_do_i_use_cross-region_replication/will_an_object_deletion_in_a_source_bucket_be_synchronized_to_the_destination_bucket.rst
  umn/source/faqs/index.rst
  umn/source/faqs/obs_basics/does_obs_support_batch_deletion_of_objects.rst
  umn/source/obs_console_operation_guide/cloud_trace_service.rst
  umn/source/obs_console_operation_guide/console_function_overview.rst
  umn/source/obs_console_operation_guide/cross-region_replication/configuring_cross-region_replication.rst
  umn/source/obs_console_operation_guide/cross-region_replication/cross-region_replication_overview.rst
  umn/source/obs_console_operation_guide/cross-region_replication/index.rst
  umn/source/obs_console_operation_guide/index.rst
  umn/source/obs_console_operation_guide/related_operations/creating_an_iam_agency.rst
  umn/source/obs_console_operation_guide/related_operations/index.rst
  umn/source/service_overview/permissions_management.rst
  umn/source/service_overview/related_services.rst
Due: none

Update content
  api-ref/source/api_overview.rst
  api-ref/source/apis/advanced_bucket_settings/configuring_bucket_lifecycle_rules.rst
  api-ref/source/apis/advanced_bucket_settings/configuring_cross-region_replication_for_a_bucket.rst
  api-ref/source/apis/advanced_bucket_settings/configuring_storage_class_for_a_bucket.rst
  api-ref/source/apis/advanced_bucket_settings/deleting_the_cross-region_replication_configuration_of_a_bucket.rst
  api-ref/source/apis/advanced_bucket_settings/index.rst
  api-ref/source/apis/advanced_bucket_settings/obtaining_the_cross-region_replication_configuration_of_a_bucket.rst
  api-ref/source/apis/operations_on_buckets/creating_a_bucket.rst
  api-ref/source/apis/operations_on_multipart_upload/completing_a_multipart_upload.rst
  api-ref/source/apis/operations_on_objects/copying_objects.rst
  api-ref/source/apis/operations_on_objects/deleting_an_object.rst
  api-ref/source/apis/operations_on_objects/querying_object_metadata.rst
  api-ref/source/apis/operations_on_objects/restoring_cold_objects.rst
  api-ref/source/apis/operations_on_objects/uploading_objects_post.rst
  api-ref/source/apis/operations_on_objects/uploading_objects_put.rst
  api-ref/source/appendixes/error_codes.rst
  api-ref/source/appendixes/status_codes.rst
  api-ref/source/calling_apis/authentication/authentication_of_signature_in_a_header.rst
  api-ref/source/change_history.rst
  api-ref/source/conf.py
Due: none

Update content
  doc/parallel-file-system/source/conf.py
Due: none

Update content
  doc/tool/source/conf.py
Due: build-otc-obs-tool-guide

Update tox.ini && conf.py file (#61)
  api-ref/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/source/conf.py
  doc/source/index.rst
  doc/swiftapi/source/conf.py
Due: none

Path conditions:
  build-otc-obs-s3api: any of: ^doc/s3api/source/.*
  build-otc-obs-tool-guide: any of: ^doc/tool/source/.*
