Repository opentelekomcloud-docs/object-storage-service: changes, and which Zuul jobs are due for each by the changed paths.
All: build-otc-obs-s3api, build-otc-obs-tool-guide

build-otc-obs-s3api:
  parent: otc-tox-docs
  description: Build s3api document using tox
  vars:
    tox_envlist: s3api

build-otc-obs-tool-guide:
  parent: otc-tox-docs
  description: Build tool-guide document using tox
  vars:
    tox_envlist: tool-guide

updated files to resolve conflict with PR #96
  api-ref/source/calling_apis/authentication/authentication_of_signature_in_a_header.rst
  api-ref/source/calling_apis/authentication/authentication_of_signature_in_a_url.rst
Due: none

Update index.rst
  doc/source/index.rst
Due: none

Update index.rst (#101)
  doc/source/index.rst
Due: none

Update content
  doc/s3api/source/change_history.rst
  doc/s3api/source/operations_on_buckets/put_bucket.rst
Due: build-otc-obs-s3api

Update content
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/requirements.txt
  doc/s3api/source/conf.py
  doc/source/conf.py
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update content
  doc/parallel-file-system/source/change_history.rst
  doc/parallel-file-system/source/index.rst
  doc/parallel-file-system/source/introduction/about_pfs.rst
  doc/parallel-file-system/source/introduction/application_scenarios.rst
  doc/parallel-file-system/source/introduction/constraints.rst
  doc/parallel-file-system/source/introduction/index.rst
  doc/parallel-file-system/source/introduction/using_pfs.rst
  doc/parallel-file-system/source/managing_parallel_file_systems_by_apis/index.rst
  doc/parallel-file-system/source/managing_parallel_file_systems_by_apis/supported_apis.rst
  doc/parallel-file-system/source/using_pfs_on_a_console/creating_a_parallel_file_system.rst
  doc/parallel-file-system/source/using_pfs_on_a_console/index.rst
  doc/parallel-file-system/source/using_pfs_with_obs_apis/compatibility_between_obs_apis_and_pfs.rst
  doc/parallel-file-system/source/using_pfs_with_obs_apis/index.rst
Due: none

Delete doc/parallel-file-system/source/introduction/about_parallel_file_system.rst
  doc/parallel-file-system/source/introduction/about_parallel_file_system.rst
Due: none

Update content
  tox.ini
Due: none

Update content
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/source/conf.py
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/source/conf.py
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update tox.ini && conf.py file (#109)
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/source/conf.py
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

syncing Gitea and GitHub repositories
  api-ref/source/calling_apis/authentication/authentication_of_signature_in_a_url.rst
Due: none

sync Gitea and GitHub repositories
  umn/source/faq/buckets_and_objects/index.rst
  umn/source/faq/buckets_and_objects/what_is_the_best_practice_to_delete_objects_and_deal_with_versioning.rst
  umn/source/faq/how_do_i_use_static_website_hosting/index.rst
  umn/source/faq/how_do_i_use_static_website_hosting/why_is_the_website_file_downloaded_instead_of_displaying_the_page.rst
  umn/source/service_overview/basic_concepts/parallel_file_system.rst
Due: none

Update tox.ini && conf.py file (#112)
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/source/conf.py
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  tox.ini
  umn/source/conf.py
  zuul.yaml
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update tox.ini && conf.py file (#114)
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  tox.ini
  umn/source/conf.py
  zuul.yaml
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update content
  doc/source/index.rst
Due: none

Update tox.ini
  tox.ini
Due: none

Update tox.ini (#117)
  tox.ini
Due: none

Update tox.ini && conf.py file
  tox.ini
Due: none

Update tox.ini && conf.py file (#118)
  tox.ini
Due: none

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/source/conf.py
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update tox.ini && conf.py file (#119)
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/source/conf.py
  doc/swiftapi/source/conf.py
  doc/tool/source/conf.py
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update tox.ini && conf.py file (#120)
  tox.ini
Due: none

Update content
  doc/s3api/source/change_history.rst
  doc/s3api/source/operations_on_buckets/put_bucket_lifecycle.rst
  doc/s3api/source/operations_on_buckets/put_bucket_tagging.rst
  doc/s3api/source/operations_on_objects/upload_part_copy.rst
Due: build-otc-obs-s3api

Update content
  umn/source/obs_console_operation_guide/cross-region_replication/configuring_cross-region_replication.rst
  umn/source/obs_console_operation_guide/cross-region_replication/cross-region_replication_overview.rst
  umn/source/obs_console_operation_guide/cross-region_replication/index.rst
Due: none

Update cross-region_replication/index.rst - sold-out
  umn/source/obs_console_operation_guide/cross-region_replication/index.rst
Due: none

Update cross-region_replication_overview.rst - sold-out
  umn/source/obs_console_operation_guide/cross-region_replication/cross-region_replication_overview.rst
Due: none

Update configuring_cross-region_replication.rst - sold-out
  umn/source/obs_console_operation_guide/cross-region_replication/configuring_cross-region_replication.rst
Due: none

Path conditions:
  build-otc-obs-s3api: any of: ^doc/s3api/source/.*
  build-otc-obs-tool-guide: any of: ^doc/tool/source/.*
