Repository opentelekomcloud-docs/object-storage-service: changes, and which Zuul jobs are due for each by the changed paths.
All: build-otc-obs-s3api, build-otc-obs-tool-guide

zuul.yaml:

- job:
    name: build-otc-obs-s3api
    parent: otc-tox-docs
    description: Build s3api document using tox
    files:
    - ^doc/s3api/source/.*
    vars:
      tox_envlist: s3api
- job:
    name: build-otc-obs-tool-guide
    parent: otc-tox-docs
    description: Build tool-guide document using tox
    files:
    - ^doc/tool/source/.*
    vars:
      tox_envlist: tool-guide
- project:
    merge-mode: squash-merge
    default-branch: main
    templates:
    - api-ref-hc-jobs
    - umn-hc-jobs
    - helpcenter-base-jobs
    check:
      # Separate documents are rendered in check, while published through regular otc-tox-docs job part of the basic template
      jobs:
      - noop
      - build-otc-obs-tool-guide
      - build-otc-obs-s3api

Update content
  api-ref/source/apis/advanced_bucket_settings/configuring_a_default_worm_policy_for_a_bucket.rst
  api-ref/source/apis/operations_on_buckets/listing_objects_in_a_bucket.rst
  api-ref/source/apis/operations_on_objects/configuring_worm_retention_for_an_object.rst
  api-ref/source/apis/operations_on_objects/deleting_object_tags.rst
  api-ref/source/apis/operations_on_objects/obtaining_object_tags.rst
  api-ref/source/apis/operations_on_objects/restoring_cold_objects.rst
  api-ref/source/apis/operations_on_objects/uploading_an_object_post.rst
  api-ref/source/before_you_start/api_calling.rst
  api-ref/source/before_you_start/endpoints.rst
  api-ref/source/before_you_start/index.rst
Due: none

Update content
  umn/source/faq/how_do_i_use_lifecycle_management/what_are_the_application_scenarios_of_lifecycle_management.rst
  umn/source/faq/obs_basics/does_obs_support_resumable_transfer.rst
  umn/source/obs_browser_operation_guide/lifecycle_management/configuring_a_lifecycle_rule.rst
  umn/source/obs_console_operation_guide/console_function_overview.rst
  umn/source/obs_console_operation_guide/cross-region_replication/cross-region_replication_overview.rst
  umn/source/obs_console_operation_guide/managing_objects/creating_a_folder.rst
  umn/source/obs_console_operation_guide/object_metadata/about_object_metadata_content-type.rst
  umn/source/obs_console_operation_guide/permissions_control/permission_control_mechanisms/index.rst
  umn/source/obs_console_operation_guide/permissions_control/permission_control_mechanisms/which_permissions_apply_when_they_conflict.rst
  umn/source/obs_console_operation_guide/versioning/configuring_versioning.rst
Due: none

Update content (#141)
  umn/source/faq/how_do_i_use_lifecycle_management/what_are_the_application_scenarios_of_lifecycle_management.rst
  umn/source/faq/obs_basics/does_obs_support_resumable_transfer.rst
  umn/source/obs_browser_operation_guide/lifecycle_management/configuring_a_lifecycle_rule.rst
  umn/source/obs_console_operation_guide/console_function_overview.rst
  umn/source/obs_console_operation_guide/cross-region_replication/cross-region_replication_overview.rst
  umn/source/obs_console_operation_guide/managing_objects/creating_a_folder.rst
  umn/source/obs_console_operation_guide/object_metadata/about_object_metadata_content-type.rst
  umn/source/obs_console_operation_guide/permissions_control/permission_control_mechanisms/index.rst
  umn/source/obs_console_operation_guide/permissions_control/permission_control_mechanisms/which_permissions_apply_when_they_conflict.rst
  umn/source/obs_console_operation_guide/versioning/configuring_versioning.rst
Due: none

Update content (#142)
  api-ref/source/apis/advanced_bucket_settings/configuring_a_default_worm_policy_for_a_bucket.rst
  api-ref/source/apis/operations_on_buckets/listing_objects_in_a_bucket.rst
  api-ref/source/apis/operations_on_objects/configuring_worm_retention_for_an_object.rst
  api-ref/source/apis/operations_on_objects/deleting_object_tags.rst
  api-ref/source/apis/operations_on_objects/obtaining_object_tags.rst
  api-ref/source/apis/operations_on_objects/restoring_cold_objects.rst
  api-ref/source/apis/operations_on_objects/uploading_an_object_post.rst
  api-ref/source/before_you_start/api_calling.rst
  api-ref/source/before_you_start/endpoints.rst
  api-ref/source/before_you_start/index.rst
Due: none

Update content
  doc/s3api/source/change_history.rst
  doc/s3api/source/operations_on_buckets/put_bucket.rst
  doc/s3api/source/operations_on_buckets/put_bucket_lifecycle.rst
  doc/s3api/source/operations_on_buckets/put_bucket_storage_class.rst
Due: build-otc-obs-s3api

Update tox.ini && conf.py file
  tox.ini
  zuul.yaml
Due: none

add new best practice docs
  doc/source/index.rst
Due: none

Update uploading_an_object_post.rst
  api-ref/source/apis/operations_on_objects/uploading_an_object_post.rst
Due: none

Update flash_configuration_for_cross-domain_access.rst
  doc/s3api/source/access_control/flash_configuration_for_cross-domain_access.rst
Due: build-otc-obs-s3api

Update glossary.rst
  doc/s3api/source/glossary.rst
Due: build-otc-obs-s3api

Update naming_a_bucket_and_object.rst
  doc/s3api/source/obs_rest_apis/naming_a_bucket_and_object.rst
Due: build-otc-obs-s3api

Update get_bucket_object_versions.rst
  doc/s3api/source/operations_on_buckets/get_bucket_object_versions.rst
Due: build-otc-obs-s3api

Update post_object.rst
  doc/s3api/source/operations_on_objects/post_object.rst
Due: build-otc-obs-s3api

Update accessing_obs_using_a_temporary_url.rst
  doc/permissions-configuration-guide/source/access_requests/accessing_obs_using_a_temporary_url.rst
Due: none

Update glossary.rst - fix table
  doc/s3api/source/glossary.rst
Due: build-otc-obs-s3api

OBS update to virtual hosted-style - S3 API (#147)
  doc/s3api/source/access_control/flash_configuration_for_cross-domain_access.rst
  doc/s3api/source/glossary.rst
  doc/s3api/source/obs_rest_apis/naming_a_bucket_and_object.rst
  doc/s3api/source/operations_on_buckets/get_bucket_object_versions.rst
  doc/s3api/source/operations_on_objects/post_object.rst
Due: build-otc-obs-s3api

Update uploading_an_object_post.rst (#146)
  api-ref/source/apis/operations_on_objects/uploading_an_object_post.rst
Due: none

Update accessing_obs_using_a_temporary_url.rst (#148)
  doc/permissions-configuration-guide/source/access_requests/accessing_obs_using_a_temporary_url.rst
Due: none

Update tox.ini && conf.py file
  tox.ini
Due: none

Update tox.ini && conf.py file (#150)
  tox.ini
  zuul.yaml
Due: none

Update content
  doc/s3api/source/change_history.rst
  doc/s3api/source/operations_on_buckets/put_bucket.rst
Due: build-otc-obs-s3api

repropagate changes from propose-api-ref#212
  doc/s3api/source/change_history.rst
  doc/s3api/source/operations_on_buckets/put_bucket.rst
Due: build-otc-obs-s3api

repropagate changes from propose-api-ref#212 (#152)
  doc/s3api/source/change_history.rst
  doc/s3api/source/operations_on_buckets/put_bucket.rst
Due: build-otc-obs-s3api

Update content
  doc/permissions-configuration-guide/source/access_requests/accessing_obs_using_an_iam_agency.rst
  doc/permissions-configuration-guide/source/access_requests/accessing_obs_using_permanent_access_keys.rst
  doc/permissions-configuration-guide/source/change_history.rst
  doc/permissions-configuration-guide/source/differences_between_obs_permissions_control_methods.rst
  doc/permissions-configuration-guide/source/permission_control_methods/acls.rst
  doc/permissions-configuration-guide/source/permission_control_methods/bucket_policies/bucket_policy_parameters.rst
  doc/permissions-configuration-guide/source/permission_control_methods/iam_permissions.rst
Due: none

repropagate changes from repropose-api-ref#210
  doc/permissions-configuration-guide/source/access_requests/accessing_obs_using_an_iam_agency.rst
  doc/permissions-configuration-guide/source/access_requests/accessing_obs_using_permanent_access_keys.rst
  doc/permissions-configuration-guide/source/change_history.rst
  doc/permissions-configuration-guide/source/differences_between_obs_permissions_control_methods.rst
  doc/permissions-configuration-guide/source/permission_control_methods/acls.rst
  doc/permissions-configuration-guide/source/permission_control_methods/bucket_policies/bucket_policy_parameters.rst
  doc/permissions-configuration-guide/source/permission_control_methods/iam_permissions.rst
Due: none

repropagate changes from repropose-api-ref#210 (#154)
  doc/permissions-configuration-guide/source/access_requests/accessing_obs_using_an_iam_agency.rst
  doc/permissions-configuration-guide/source/access_requests/accessing_obs_using_permanent_access_keys.rst
  doc/permissions-configuration-guide/source/change_history.rst
  doc/permissions-configuration-guide/source/differences_between_obs_permissions_control_methods.rst
  doc/permissions-configuration-guide/source/permission_control_methods/acls.rst
  doc/permissions-configuration-guide/source/permission_control_methods/bucket_policies/bucket_policy_parameters.rst
  doc/permissions-configuration-guide/source/permission_control_methods/iam_permissions.rst
Due: none

Update tox.ini && conf.py file
  .github/workflows/build-html-docs.yaml
  .github/workflows/build-pdf-docs.yaml
  tox.ini
  zuul.yaml
Due: none

Update tox.ini && conf.py file (#156)
  .github/workflows/build-html-docs.yaml
  .github/workflows/build-pdf-docs.yaml
  tox.ini
  zuul.yaml
Due: none

Update content
  doc/parallel-file-system/source/change_history.rst
  doc/parallel-file-system/source/introduction/about_parallel_file_system.rst
  doc/parallel-file-system/source/introduction/index.rst
  doc/parallel-file-system/source/using_pfs_with_obs_apis/compatibility_between_obs_apis_and_parallel_file_systems.rst
  doc/parallel-file-system/source/using_pfs_with_obs_apis/compatibility_between_obs_apis_and_pfs.rst
  doc/parallel-file-system/source/using_pfs_with_obs_apis/index.rst
Due: none

Update content
  doc/s3api/source/change_history.rst
  doc/s3api/source/operations_on_buckets/get_bucket_tagging.rst
  doc/s3api/source/operations_on_buckets/put_bucket_tagging.rst
Due: build-otc-obs-s3api

Update content
  doc/parallel-file-system/source/change_history.rst
Due: none

Update content
  doc/tool/source/_static/images/en-us_image_0000002489755692.png
  doc/tool/source/_static/images/en-us_image_0000002521996829.png
  doc/tool/source/_static/images/en-us_image_0000002521996967.png
  doc/tool/source/advanced_bucket_settings/external_bucket_adding/overview.rst
  doc/tool/source/best_practices/index.rst
  doc/tool/source/best_practices/proxy_server_configuration.rst
  doc/tool/source/change_history.rst
  doc/tool/source/faqs/can_i_install_two_obs_browser_tools_from_different_sites_in_one_system.rst
  doc/tool/source/introduction.rst
  doc/tool/source/object_operations/moving_a_file_or_folder.rst
Due: build-otc-obs-tool-guide
