Repository opentelekomcloud-docs/object-storage-service: changes, and which Zuul jobs are due for each by the changed paths.
All: build-otc-obs-s3api, build-otc-obs-tool-guide

build-otc-obs-s3api:
  parent: otc-tox-docs
  description: Build s3api document using tox
  vars:
    tox_envlist: s3api

build-otc-obs-tool-guide:
  parent: otc-tox-docs
  description: Build tool-guide document using tox
  vars:
    tox_envlist: tool-guide

Update OBS UMN - CRR sold-out (#124)
  umn/source/obs_console_operation_guide/cross-region_replication/configuring_cross-region_replication.rst
  umn/source/obs_console_operation_guide/cross-region_replication/cross-region_replication_overview.rst
  umn/source/obs_console_operation_guide/cross-region_replication/index.rst
Due: none

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/requirements.txt
  doc/s3api/source/conf.py
  doc/source/conf.py
  doc/tool/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update tox.ini && conf.py file (#125)
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/requirements.txt
  doc/s3api/source/conf.py
  doc/source/conf.py
  doc/tool/source/conf.py
  tox.ini
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update content
  doc/requirements.txt
Due: none

Update tox.ini && conf.py file
  doc/requirements.txt
Due: none

Update tox.ini && conf.py file (#130)
  doc/requirements.txt
Due: none

Update uploading_an_object_post.rst - bring back HTML example for token
  api-ref/source/apis/operations_on_objects/uploading_an_object_post.rst
Due: none

Update uploading_an_object_post.rst - bring back HTML example for token (#131)
  api-ref/source/apis/operations_on_objects/uploading_an_object_post.rst
Due: none

Update tox.ini && conf.py file
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/source/conf.py
  doc/tool/source/conf.py
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update content
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/source/conf.py
  doc/tool/source/conf.py
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Update tox.ini && conf.py file (#132)
  api-ref/source/conf.py
  doc/best-practice/source/conf.py
  doc/parallel-file-system/source/conf.py
  doc/permissions-configuration-guide/source/conf.py
  doc/s3api/source/conf.py
  doc/source/conf.py
  doc/tool/source/conf.py
  umn/source/conf.py
Due: build-otc-obs-s3api, build-otc-obs-tool-guide

Dummy change
  doc/requirements.txt
Due: none

Update deleting_buckets.rst - add note about links to a deleted bucket
  api-ref/source/apis/operations_on_buckets/deleting_buckets.rst
Due: none

add third-party tools faq section
  umn/source/faq/third_party_tools/index.rst
  umn/source/faq/third_party_tools/what_are_the_supported_versions_of_the_aws_tools.rst
Due: none

Update index.rst - add third-party tools link
  umn/source/faq/index.rst
Due: none

Update deleting_buckets.rst
  api-ref/source/apis/operations_on_buckets/deleting_buckets.rst
Due: none

Update deleting_a_bucket.rst
  umn/source/obs_console_operation_guide/managing_buckets/deleting_a_bucket.rst
Due: none

Update deleting_a_bucket.rst
  umn/source/obs_console_operation_guide/getting_started/deleting_a_bucket.rst
Due: none

Update delete_bucket.rst
  doc/s3api/source/operations_on_buckets/delete_bucket.rst
Due: build-otc-obs-s3api

Update and rename what_are_the_supported_versions_of_the_aws_tools.rst to which_versions_of_aws_tools_work_with_obs.rst
  umn/source/faq/third_party_tools/what_are_the_supported_versions_of_the_aws_tools.rst
  umn/source/faq/third_party_tools/which_versions_of_aws_tools_work_with_obs.rst
Due: none

Update index.rst
  umn/source/faq/third_party_tools/index.rst
Due: none

Update obtaining_storage_information_of_a_bucket.rst - update note text
  api-ref/source/apis/advanced_bucket_settings/obtaining_storage_information_of_a_bucket.rst
Due: none

Update obtaining_storage_information_of_a_bucket.rst - change wording of the note
  api-ref/source/apis/advanced_bucket_settings/obtaining_storage_information_of_a_bucket.rst
Due: none

Update obtaining_storage_information_of_a_bucket.rst
  api-ref/source/apis/advanced_bucket_settings/obtaining_storage_information_of_a_bucket.rst
Due: none

revert changes on native API deleting_buckets.rst
  api-ref/source/apis/operations_on_buckets/deleting_buckets.rst
Due: none

revert changes on S3 API delete_bucket.rst
  doc/s3api/source/operations_on_buckets/delete_bucket.rst
Due: build-otc-obs-s3api

Update obtaining_storage_information_of_a_bucket.rst - update note text (#137)
  api-ref/source/apis/advanced_bucket_settings/obtaining_storage_information_of_a_bucket.rst
Due: none

Update deleting_buckets.rst - add note about links to a deleted bucket (#135)
  umn/source/obs_console_operation_guide/getting_started/deleting_a_bucket.rst
  umn/source/obs_console_operation_guide/managing_buckets/deleting_a_bucket.rst
Due: none

Update which_versions_of_aws_tools_work_with_obs.rst
  umn/source/faq/third_party_tools/which_versions_of_aws_tools_work_with_obs.rst
Due: none

Update configuring_a_lifecycle_rule.rst - remove transition days limit
  umn/source/obs_console_operation_guide/lifecycle_management/configuring_a_lifecycle_rule.rst
Due: none

Update configuring_a_lifecycle_rule.rst - remove transition days limit (#138)
  umn/source/obs_console_operation_guide/lifecycle_management/configuring_a_lifecycle_rule.rst
Due: none

Add Third-Party Tools FAQ section with supported AWS versions (#136)
  umn/source/faq/index.rst
  umn/source/faq/third_party_tools/index.rst
  umn/source/faq/third_party_tools/which_versions_of_aws_tools_work_with_obs.rst
Due: none

Update content
  umn/source/faq/how_do_i_use_lifecycle_management/what_are_the_application_scenarios_of_lifecycle_management.rst
  umn/source/faq/obs_basics/does_obs_support_resumable_transfer.rst
  umn/source/obs_browser_operation_guide/lifecycle_management/configuring_a_lifecycle_rule.rst
  umn/source/obs_console_operation_guide/console_function_overview.rst
  umn/source/obs_console_operation_guide/cross-region_replication/cross-region_replication_overview.rst
  umn/source/obs_console_operation_guide/managing_objects/creating_a_folder.rst
  umn/source/obs_console_operation_guide/object_metadata/about_object_metadata_content-type.rst
  umn/source/obs_console_operation_guide/permissions_control/permission_control_mechanisms/index.rst
  umn/source/obs_console_operation_guide/permissions_control/permission_control_mechanisms/which_permissions_apply_when_they_conflict.rst
  umn/source/obs_console_operation_guide/versioning/configuring_versioning.rst
Due: none

Path conditions:
  build-otc-obs-s3api: any of: ^doc/s3api/source/.*
  build-otc-obs-tool-guide: any of: ^doc/tool/source/.*
